body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
.footer{
    position:fixed;
    bottom:0;
    line-height: 3;
    width:100%;
    background-color: green;
    color:white;
    font-weight: bold;
    text-align: center;
}

#cat{
    font-size: 25px;
    border-radius: 10px;
    background-color: goldenrod;
    margin: 10px;
}


#dog{
    font-size: 25px;
    border-radius: 10px;
    background-color: goldenrod;
    margin: 10px;
}


#tiger{
    font-size: 25px;
    border-radius: 10px;
    background-color: goldenrod;
    margin: 10px;
}


#bear{
    font-size: 25px;
    border-radius: 10px;
    background-color: goldenrod;
    margin: 10px;
}